html {
    font-size: 14px;
    background: #fff;

}
body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

}
header {
    background: #39577D;
    color: #fff;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
}
h1, h2 {
    font-family: 'Vollkorn', Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: normal;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: .73rem;
}
a {
    color: #39577D;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #7098C9;
}
.clear {
    clear: both;
}

#container {
    width: 90%;
    margin: 0 auto;
}
h2.section-hed {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0.5rem 0;
    color: #39577D;
    padding-bottom: .05rem;

}

/* HEADER STYLES */

#logo {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin-left: 5%;
    float: left;
    max-width: 8rem;
}
#header-text {
    width: 67%;
    float: left;
    padding-left: 3%;
    margin-top: 0.5rem;
    text-align: left;
    margin-right: 5%;
}
#header-text h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0;
}
#header-text h2 {
    font-size: 1rem;
    margin-top: 0;
    font-style: italic;
}
#nameplate {
    margin: 0;
    padding-top: 1rem;
    text-transform: uppercase;
}

#burger {
    clear: both;
}

@media screen and (min-width: 800px) {
    header {
        padding: 0 5%;
    }
    #logo {
        margin-left: 0;
    }
    #header-text {
        margin-right: 0;
        width: auto;
    }
    #header-text h1 {
        font-size: 2rem;
    }
    #header-text h2 {
        font-size: 1.25rem;
    }
}

/* MENU - Adapted from Emre: http://codepen.io/emredenx/pen/ojcxl */

header {
    position:relative;
}
.search {
    width: 15rem;
    position: absolute;
    right: 5%;
    top: 1rem;
}
.search form {
    width: 100%;
    border: 0;
}
.search form input[type=text] {
    width: 12rem;
    float: left;
    border: 0;
    padding: 0.25rem !important;
}
.search form input[type=submit] {
    width: 2rem;
    float: right;
    border: 0;
    padding: 0.25rem !important;
}
.menu {
    position:relative;
    z-index:123;
    padding:10px;
    float:left;
    width:15%;
}
.menu a {
    color:#6DDB07;
}
#burger {
    position:relative;
    width:100%;
    margin:0 auto;
    text-align: left;
    text-transform: uppercase;
}
#burger * {
    margin: 0;
    padding: 0;
}
#burger, #burger ul, #burger ul li, #burger ul li a, #burger #head-mobile {
    border:0;
    list-style:none;
    display:block;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#burger ul {
    padding: 0;
}
#burger:after, #burger > ul:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
#burger #head-mobile {
    display:none;
}
#burger {
    background:#39577D;
}
#burger > ul > li {
    float:left;
}
#burger > ul > li > a {
    padding:1rem;
    font-size:1rem;
    letter-spacing:1px;
    text-decoration:none;
    color:#fff;
    font-weight:700;
}
#burger > ul > li:hover > a,#burger ul li.active a {
    color:#fff;
}
#burger > ul > li:hover, #burger ul li.active:hover, #burger ul li.active, #burger ul li.has-sub.active:hover {
    background:#7098C9 !important;
    -webkit-transition:background .3s ease;
    -ms-transition:background .3s ease;
    transition:background .3s ease;
}

#burger > ul > li.has-sub > a:after {
    margin-left: 1rem;
    color: #fff;
    content: "\25BC";
}
#burger > ul > li.has-sub:hover > a:before {
    top:23px;
    height:0;
}
#burger ul ul {
  position: absolute;
  left: -9999px;
  line-height:1.5rem;
}

#burger ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: #333;
  transition: all .25s ease;
}

#burger ul ul li:hover {
}

#burger li:hover > ul {
  left: auto;
}

#burger li:hover > ul > li {
  height: auto;
}

#burger ul ul ul {
  margin-left: 100%;
  top: 0;
}

#burger ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 16rem;
  font-size: 1rem;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
}

#burger ul ul li:last-child > a,
#burger ul ul li.last-item > a {
  border-bottom: 0;
}

#burger ul ul li:hover > a,
#burger ul ul li a:hover {
  color: #fff;
  background: #555;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

#burger > ul > li.has-sub > ul > li.active > a,
#burger > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}

@media screen and (min-width: 800px) {
    .search {
        right: 0;
    }
    p, ul {
        font-size: 1.3rem;
    }
    #container ul li {
        margin-bottom: 0.25rem;
    }
    #container ul li:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
  }

  #burger {
    width: 100%;
  }

  #burger ul {
    width: 100%;
    display: none;
  }

  #burger ul li {
    width: 100%;
    border-top: 1px solid #444;
  }

  #burger ul li:hover {
    background: #555;
  }

  #burger ul ul li,
  #burger li:hover > ul > li {
    height: auto;
  }

  #burger ul li a,
  #burger ul ul li a {
    width: 100%;
    border-bottom: 0;
  }

  #burger > ul > li {
    float: none;
  }

  #burger ul ul li a {
    padding-left: 25px;
  }

  #burger ul ul li {
    background: #333 !important;
  }

  #burger ul ul li:hover {
    background: #555 !important;
  }

  #burger ul ul li a {
    color: #ddd;
    background: none;
  }

  #burger ul ul li:hover > a,
  #burger ul ul li.active > a {
    color: #fff;
  }

  #burger ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  #burger > ul > li.has-sub > a:after,
  #burger > ul > li.has-sub > a:before,
  #burger ul ul > li.has-sub > a:after,
  #burger ul ul > li.has-sub > a:before {
    display: none;
  }

  #burger #head-mobile {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: right;
    margin-right: 3rem;
  }

  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
    background: #fff;
  }
  .button:hover {
      background: #7098C9;
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
  }

  .button:after {
    position: absolute;
    top: 22px;
    right: 18px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #7098C9;
    border-bottom: 2px solid #7098C9;
    content: '';
  }
  .button:hover:after {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
  }

  .button:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 18px;
    display: block;
    height: 2px;
    width: 20px;
    background: #7098C9;
    content: '';
  }
  .button:hover:before {
      background: #fff;
  }

  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #7098C9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .button.menu-opened:hover:after {
      background: #fff;
  }

  .button.menu-opened:before {
    top: 23px;
    background: #7098C9;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .button.menu-opened:hover:before {
      background: #fff;
  }

  #burger .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    height: calc(1rem + 31px);
    width: calc(1rem + 31px);
    cursor: pointer;
    background: #333;
  }

  #burger .submenu-button:hover {
    background: #555;
    -webkit-transition:background .3s ease;
    -ms-transition:background .3s ease;
    transition:background .3s ease;
  }

  #burger ul ul .submenu-button {
    height: 31px;
    width: 31px;
  }

  #burger .submenu-button:after {
    color: #fff;
    content: "\25BC";
    position: absolute;
    left: 16px;
    top: 15px;
  }

  #burger ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }

  #burger > ul > li.has-sub > ul > li.active > a,
  #burger > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
}

/* LATEST NEWS HOMEPAGE */

.boiler {
    background: #7098C9;
    color: #fff;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    font-style: italic;
}
.boiler a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}

.news-story {
    margin-bottom: 1.5rem;
}
.latest-news {
    border-bottom: 1px solid #39577D;
    margin-bottom: 1rem;
}
.latest-news time {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #C99534;
}
.latest-news h3 {
    font-size: 1.5rem;
    margin: 0.25rem 0 0.5rem;
    padding-top: .05rem;
}
.latest-news h3 a {
    color: #000;
}
.latest-news img {
    width: 100%;
    padding-top: .5rem;
}
.latest-news .read-more {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}

/* TESTIMONIALS HOMEPAGE */

.testimonial {
    clear: both;
    padding-bottom: 1rem;
}

.testimonial h3 {
  font-size:1rem;

}

.testimonial p {
  padding-right: 1.75rem;
}

.testimonial img {
    width: 20%;
    float: left;
    padding-right:1rem;
}

/* ABOUT PAGE*/
.embed-container {
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}


/* LATEST NEWS */
.archive {
  text-align: center;
}

.archive a {
  padding-right: .5rem;
  padding-left: .5rem;
  font-size: 1.1rem;
}

/* SUMMER PROGRAMS & ABOUT PAGE*/

.About .section-hed {
  padding-top: 1rem;
}

.About {
  padding-bottom: 1rem;
}

.About iframe {
  padding-top: .5rem;
}

/* BOARD OF DIRECTORS*/
.directors .section-hed {
  font-size: 1.75rem;

}

/* APPLY PAGE */

.apply .section-hed {
  font-size: 1.5rem;

}

form {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: .25rem solid #7098C9;
  padding-left: .5rem;
  padding-right: .25rem;
}

form p {
  font-weight: bold;
  font-size: 1rem;
}

input {
  width: 15rem;
  display: block;
  border: .10rem solid #000;

}

button{
  width: 10rem;
  position: block;
  background: #7098C9;
  font-weight: bold;
  font-size:1rem;
  border-radius: 1rem;
  border: .10rem solid #000;
}

#submit {
  padding-top: 1rem;
}


/* FOOTER */

footer {
    background: #39577D;
    color: #fff;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
}
#contact {
    float: left;
    margin-right: 1rem;
}
#social {
    float: right;
    margin: 0;
    padding-top: .6rem;
}
#social img {
    width: 2rem;
}
