html {
    font-size: 14px;
    background: #fff;
}
body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    background: #39577D;
    color: #fff;
    text-align: center;
    padding: 0.2rem;
}
h1, h2 {
    font-family: 'Vollkorn', Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: normal;
}
h1 {
    font-size: 1.3rem;
}
h2 {
    font-size: 1rem;
}
a {
    color: #39577D;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #7098C9;
}
.clear {
    clear: both;
}

#container {
    width: 95%;
    margin: 0 auto;
}
h2.section-hed {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0.5rem 0;
    color: #39577D;
}

/* HEADER STYLES */

#logo {
    float: left;
    margin-right: 5%;
    width: 20%;
}
#header-text {
    float: right;
    width: 75%;
}
#nameplate {
    margin: 0;
    padding-top: 1rem;
    text-transform: uppercase;
}

#burger {
    clear: both;
}

/* LATEST NEWS HOMEPAGE */

.news-story {
    margin-bottom: 1.5rem;
}
.latest-news {
    border-bottom: 1px solid #39577D;
    margin-bottom: 1rem;
}
.latest-news time {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #C99534;
}
.latest-news h3 {
    font-size: 1.75rem;
    margin: 0.25rem 0 0.5rem;
}
.latest-news h3 a {
    color: #000;
}
.latest-news img {
    width: 100%;
}
.latest-news .read-more {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}

/* TESTIMONIALS HOMEPAGE */

.testimonial {
    clear: both;
    padding-bottom: 1rem;
}
.testimonial img {
    width: 20%;
    float: left;
    padding: 0 0.5rem 0.5rem 0;
}

/* FOOTER */

footer {
    background: #39577D;
    color: #fff;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
}
#contact {
    float: left;
    margin-right: 1rem;
}
#social {
    float: right;
    margin: inherit 0;
}
#social img {
    width: 2rem;
}
